!!!
%html
  %head
    %title Rock Paper Scissors Sinatra
    %link{:href => "stylesheets/css/main.css", :media => "screen", :rel => "stylesheet"}/
    %script{:src => "js/script.js"}/
  %body
    %h1
      Rock Paper Scissors Sinatra
    %h2
      a game of rock, papers, scissors - built on sinatra
    =yield

